*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap:30px;
}
#Grandparent{
    height: 200px;
    width: 60%;
    background-color: rgb(246, 182, 193);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
}    
#parent{
    height: 100px;
    background-color: lightskyblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:10px;
}
button{
    margin:5px;
    border: none;
    height: 30px;
    border-radius: 10px;
    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(80, 168, 80);
    color: white;
}
.Event{
    min-height:50px;
    width:40%;
    background-color: aliceblue;
    border-radius: 10px;
    padding:10px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
    height:auto;
}
section{
    display: flex;
    gap:10px;
    
}