*{
    padding: 0;
    margin:0
}
header{
    background-color: slategray;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
   
main{
    background-color: darkslategray;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    height:100vh;
}
.weather-container{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:15px;
}
.weather-status{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

    
